.skills {
    padding: 91px 0 110px 0;
    &__title {
        margin-bottom: 69px;
    }
    &__text {
        margin-bottom: 84px;
    }
    &__row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    &__column {
        display: flex;
        margin-bottom: 40px;

        // flex: 1 0 25%;
        justify-content: center;
        &__item {
            width: 167px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            &-img {
                margin-bottom: 25px;
                justify-self: flex-start;
            }
            &-name {
                margin-bottom: 40px;
                flex: 1 1 auto;
                font-size: 14px;
                font-weight: 700;
                line-height: 17px;
                color: $textGrey;
            }
            &-stars {
                width: 100%;
                display: flex;
                justify-content: space-between;
                padding: 0 3px;
                img {
                    width: 26px;
                }
            }
        }
    }
}
